
#h1
{
    font-family: sans-serif;
    text-align: center;


}
#div
{
    margin-right: 750px; 
    margin-left: 50px;
    padding-left: 10px;
    background: #8DD680 ;
    border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;


border-style:ridge; 55px; 
border-color: #8DD659;
-webkit-box-shadow: 0px 0px 89px 25px rgba(0,0,0,0.40);
-moz-box-shadow: 0px 0px 89px 25px rgba(0,0,0,0.40);
box-shadow: 0px 0px 89px 25px rgba(0,0,0,0.40#8DD659);
background-size: cover;



}
#div2
{
    margin: 50000px;
    padding: 1000px;
    

}
#botones
{
    color: gray;
    border-radius: 9px;
}

#figure
{
    float: right;
    padding-right: 60px;
    border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;


-webkit-transition:-webkit-transform 0.4s ease-in-out 0.10;
-moz-transition:-webkit-transform 0.4s ease-in-out 0.10;

}
#figure img:hover
{
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#botoncontestar
{
    padding-left: 200px;
}

#footer
{
    width: 99%;
    height: 19px;
    background: rgba(118,121,119,0.5);
    position:absolute;
    bottom: 0;
    text-align: center;
    padding-top: 1px;
    color:black;
}